
:root{
  --red: #BB2D3B;
  --black: #212529;
}


.navbar-nav a{
  color: rgb(200, 198, 198);
}
.navbar .nav-link:hover{
  color: white;
}
.navbar-brand{
  color: white;
}
.banner {
  background: url(./images/banner.jpeg);
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: purple;
  height: 100vh;
}

.circle{
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  color: white;
}
.circle i{
  position: relative;
  top: 30px;
}
.img-wrapper{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid gray;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#foto{
  background-image: url(./images/bg1.jpg);
  background-size: cover;
  background-position: center;
}
textarea{
  resize: none;
}